USERNAME={{ username }}
PORT={{ port }}
RAILS_LOG_TO_STDOUT={{ rails_log_to_stdout }}
RAILS_MASTER_KEY={{ rails_master_key }}
APP_DATABASE_NAME={{ app_database_name }}
APP_DATABASE_USER={{ app_database_user }}
APP_DATABASE_PASSWORD={{ app_database_password }}
APP_DATABASE_HOST={{ app_database_host }}
RAILS_ENV={{ rails_env }}